<div class="container">
  
  <div class="container">
    <div class="row">
      <div class="col">
        <img [src]="product.image" class="card-img-top" alt="...">
      </div>
    
      <div class="col order-1">
  
        <h5 class="card-title"><strong>{{product.name}}<span></span>&nbsp;&nbsp;R{{product.price}}</strong></h5>
      <p class="card-text">{{product.title}}</p>
      <h5><strong>Ingredients</strong></h5>
      <p class="card-text">{{product.ingredients}}</p>
      <h5><strong>Allergens</strong></h5>
      <p class="card-text">{{product.allergens}}</p>


     <p></p>

      
      <div class="container">
        <div class="row">
          <div class="col">
            <!---------previous------->
            <a class="btn" href="menu"><i class="bi bi-arrow-left"style="font-size:30px;"></i></a>
          </div>
         <!-------------cart icon---------->
          <div class="col order-1">
            <a class="btn" ><i class="bi bi-cart-plus" style="font-size:30px;"></i></a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </div>



