<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-4">
            <h1>Tasty Meals Joint</h1>
            <p>GOOD FOOD, GOOD VIBE</p>
       </div>
       <div class="col-lg-4 mt-3 mb-3">
        <a href="">Home</a>
        <a href="menu">Menu</a>
        <a routerLink="about">About</a>
        <!-- <a routerLink="contact">Contact</a> -->
    </div>
    <!-- socialmedia -->
    <div class="col-lg-2 mt-3 mb-3">
        <a href="https://www.facebook.com/Tasty-Meals-Joint-106042838788113" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/tastymealsjoint/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://twitter.com/Tasty_MealzJ" target="_blank"><i class="bi bi-twitter"></i></a>
        
    </div>
</div>
</div>
