<div class="container">
  <img  src="https://i.postimg.cc/nLk3nTr7/yangskitchen-home.jpg">

</div>


<div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-5c041aa04a55c5a0e7ed">
  <div class="sqs-block-content">
  
     <!---- <h1 class="text">Ithani Cesibe is a South African-raised, <br> International-based chef,  author, <br> restaurateur, social entrepreneur &amp; culinary ambassador. <br> she welcomes you to her table. </h1>-->
  
  </div>
</div>
<section class="third_section">
<div class="container">
    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1576626982256_14764">
        <div class="sqs-block-content">
            <!----<h3 style="text-align:center;white-space:pre-wrap;">OUR MISSION</h3>-->
            <!--- <h1 style="text-align:center;white-space:pre-wrap;">To promote diverse, healthy, <br> conscious food cultures where eating <br> and sharing food is an act of love— <br> for yourself, your community, and for the environment.</h1>-->
</div>
</div>
</div>

<div class="container mt-5 mb-4">

    <!--<h1 class="text-center">How to get <span class="highlight">fresh food</span> </h1>
    <!---------
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
            <h1>1</h1>
            <p>select food</p>
        </div>
        </div>

        <div class="col-lg-4 mt-2">
            <div class="stepBox">
            <h1>2</h1>
            <p>fill the details</p>
        </div>
        </div>

        <div class="col-lg-4 mt-2">
            <div class="stepBox">
            <h1>3</h1>
            <p>your order will be with you soon</p>
        </div>
        </div>
    
    </div>
  -->
  
    <div class="zerofood">
     
      <img src="https://images.squarespace-cdn.com/content/v1/5c42b91c697a9873ebf844b8/1609787073062-88E5P38MXHSFU0DQC333/ZeroFoodprint.Logo.2020_Deep_Cyan.png?format=300w">
      <p>WE ARE A PROUD MEMBER OF ZERO FOODPRINT </p>
      
         <hr>
    </div>
    
 
    <div class="container">
      <div class="row">
        <div class="col order-last">
           <img src="https://i.postimg.cc/XN2PcB1k/yangskitchen-02.png" style="width:500px; height:700px;">
        </div>
        <div class="col order-first">
          <img src="https://i.postimg.cc/CLzQvMWT/yangskitchen-01.png">
        </div>
      </div>
    </div>
</div>
<div class="container" style="align-items: center;">
  <div class="row">
    <div class="col">
      <h3 style="text-align:center;white-space:pre-wrap;font-size: 13px; color: #2d2926;">LOCATION</h3>
            <p style="text-align:center;white-space:pre-wrap;" class="detail">1933 Goven Mbeki St.<br>
              Philippi, Cape Town 7750</p>
    </div>
    <div class="col order-5">
      <div class="sqs-block-content"><h3 style="text-align:center;white-space:pre-wrap;font-size: 13px; color: #2d2926;">HOURS</h3>
        <p style="text-align:center;white-space:pre-wrap;" class="detail">Monday-Saturday, 7am to 7pm </p>
        <p style="text-align:center;white-space:pre-wrap;" class="detail">Closed Tuesdays &amp; Wednesdays</p>
    </div>
    </div>
    <div class="col order-1">
      <h3 style="text-align:center;white-space:pre-wrap; font-size: 13px; color: #2d2926;">CONTACT</h3>
      <p style="text-align:center;white-space:pre-wrap;" class="detail">
        <p style="text-align:center;white-space:pre-wrap;" class="detail">021 1234 123</p><br>
        <p style="text-align:center;white-space:pre-wrap;" class="detail">tastymeal3@gmail.com</p>
    </div>
  </div>
</div>
<div class="container">
  <img src="https://images.squarespace-cdn.com/content/v1/5c42b91c697a9873ebf844b8/1619135748199-I56FXBEVWXC1QXGK17BZ/Apr+11+2021DSC07442.jpg?format=2500w" alt="" srcset="">
</div>

</section>

    
 
