.text{
    font-family: Della Respira;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    letter-spacing: .01em;
    line-height: 1.3em;
    text-decoration: none;
    text-transform: none;
    color: black;
    text-align:center;white-space:pre-wrap;
}


img{
    max-width:100%;
    height:800px;
     margin-top:  3%;
 
}


h3{
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .13em;
    line-height: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    color: #bbb;
}
.stepBox{
    background-color: black;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
    /*code here*/
    box-shadow: 10px 15px 10px black;
}
.stepBox h1{
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);

}
.stepBox p{
    color: white;
    font-size: 20px;
    font-style: italic;
}
.highlight{
    color:var(--primary-color); 
    font-weight:bold;
    font-style: italic;
}
.foodbox 
{
    padding: 10px 5px;
} 
.foodbox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 600px;
    height: 400px;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/*****zer food section******/
.zerofood img{
    
   
    width:200px;
    height: 200px;
}

.zerofood{
    text-align: center;
    font-size: 15px;
}

.col img{
    border: 1px solid white;
    border-radius: 10px;
    height: 500px;
    width: 450px;
}
.detail{
    font-size: 13px;
    color:#2d2926;
}
